<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
	$(document).ready(function(){

		$(document).on("click","login-btn",function(e){
			if($("#new_user").valid()){
				return true 
			}
			else{
				return false
			}
		});

		$("#new_user").validate({
			errorElement: "span",
			highlight: function (element, errorClass) {
				$(element).removeClass('error');
			},
			rules: {
				"user[email]": {
					'required' : true,
					'email' : true
				}
			},
			messages: {
				"user[email]": {
					'required' : 'Enter valid email',
					'email' : 'Enter valid email'
				},
			}
    
		});


	});
</script>

